*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://as1.ftcdn.net/v2/jpg/03/23/88/08/1000_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg");
    background-repeat: repeat-y;
    background-position: right;
    background-size: 2000px;
}


.title {
    font-family: 'Press Start 2P', cursive;
    color: red;
    padding: 5px;
    border-radius: 50px;
    background-color: black;
    text-align: center;
    margin-top: 30px;
}



.container-juegos{   
    margin-top: 1rem; 
    display: grid;   
    gap: 1rem; 
    grid-template-columns: repeat(5, 1fr);
}

.card {
    margin-bottom: 2rem;
    text-align: center;
    margin-bottom: 1px;
}


.imagen-juego {
   object-fit: cover;
   object-position: center;
    
}

.btn-eliminar {
    display: inline-block;
    padding: 0.3rem 1rem;
    margin: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-eliminar:hover {
    background-color: red;
    color: wheat;
}

#slideshow {
    position:relative;
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#slideshow img{
    position: absolute;
    opacity: 0;
    width: 500px;

    transition: 1s;
}

#slideshow .current {
    width: 500;
    opacity: 1;
    margin-left: 50px;

    transition: 2s;
}
