*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://as1.ftcdn.net/v2/jpg/03/23/88/08/1000_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg");
    background-repeat: repeat-y;
    background-position: right;
    background-size: 2000px;
}


.title {
    font-family: 'Dancing Script', cursive;
    color: rgb(7, 231, 56);
}

.container-juegos{   
    margin-top: 1rem; 
    display: grid;   
    gap: 1rem; 
    grid-template-columns: repeat(4, 1fr);
}

.card {
    margin-bottom: 2rem;
    text-align: center;
}


.imagen-juego {
    object-position: center;
    
}
.contenido {
   
}



#slideshow {
    position: relative;
    width: 400px;
    height: 300px;
    grid-template-columns: repeat(2, 1fr);
}

#slideshow img{
    position: absolute;
    opacity: 0;
    width: 500px;

    transition 1s;
}

#slideshow .current {
    width: 500;
    opacity: 1;
    margin-left: 50px;

    transition: 2s;
}
